<div id="<%= dom_id route %>">
  <p>
    <strong>Origin:</strong>
    <%= route.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= route.destination %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= route.distance %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= route.duration %>
  </p>

  <p>
    <strong>User:</strong>
    <%= route.user_id %>
  </p>

</div>
